.menu{
    list-style-type: none;
    font-weight: 530;
}

img{
    width: 150px;
    position: relative;
    left: 60%;
}
.destaque{
    font-size: 70px;
}

.chefia{
    background-color: rgb(0, 97, 0);
}

li.coordenadores{
    font-size: 50px;
    font-weight: 550;
    font-style: italic;
    text-decoration: underline;
    background-color: rgb(29, 100, 255);
}

li.metrica {
    font-size: 34px;
    background-color: rgb(247, 64, 64);
}

.d{
    background-color: rgb(29, 100, 255);
    /*display: flex;
    width: 100%;
    height: 20px;
    text-indent: 500px;
    vertical-align: middle;
    text-align: end;*/
}

.doc{
    margin-left: -80px;
}

.documentos{
    font-size: 32px;
    background: repeating-linear-gradient(
        -45deg,
        #bdbdbd,
        #bdbdbd 3px,
        #c7c7c7 2px,
        #c7c7c7 6px
      );
}

li.estrutura{
    font-size: 80px;
    background: linear-gradient(180deg, rgb(212, 212, 212) 0%, rgb(228, 227, 227) 35%, rgba(254,254,254,1) 100%);
}

.info{
    font-size: 16px;
    font-style: italic;
    text-decoration: underline;
    list-style-type: circle;
    padding-left: 90px;
    font-weight: bold;
}

.noticias{
    list-style-type: disc;
    margin-left: -40px;
    font-weight: bold;
}



   